#headerDiv {
  background-color: #191c20;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#headerInner {
  width: 85%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

#headerLogo {
  height: 65.7%;
  cursor: pointer;
}

.navText {
  color: white;
  padding-top: 0.7rem;
  font-size: 30rem;
  text-decoration: none;
}

.navLink {
  padding-left: 30rem;
  cursor: pointer;
}

.navLink:hover {
  color: orange;
}
