#historyDiv {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#topperDiv {
  width: 94%;
  height: 63%;
  justify-content: space-between;
}

#graphDiv {
  width: 96%;
  height: 34%;
}

.teamInfoDiv {
  width: 33%;
  height: 100%;
}

#mapDiv {
  width: 30%;
  height: 100%;
}
