.fullDiv {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.closeDiv {
  width: 80%;
  justify-content: center;
  align-items: center;
  font-size: 30rem;
  background: #191c20;
  color: white;
  padding-top: 10rem;
  padding-bottom: 10rem;
  cursor: pointer;
}

.squareDiv {
  position: relative;
}

.mapImg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dotOnMap {
  position: absolute;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.dotBefore {
  opacity: 0.4;
}

.dotNow {
  z-index: 10;
  border: solid 1rem;
  border-color: white;
}

.allDot .dotNow {
  border: none !important;
}

.dotObject {
  z-index: 5;
  border: solid 1rem;
  border-color: white;
}
