.fullDiv {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.teamDiv {
  width: 100%;
  height: 9%;
  align-items: flex-end;
  column-gap: 10rem;
}

.winOrLose {
  font-size: 35rem;
  line-height: 100%;
  font-weight: 700;
  color: gold;
}

.blue {
  color: lightblue;
}

.red {
  color: coral;
}

.teamSide {
  font-size: 23rem;
  line-height: 100%;
}

.playerDiv {
  width: 100%;
  height: 89%;
  flex-direction: column;
}

.nicknameDiv {
  height: 4%;
  font-size: 20rem;
  color: white;
}

.eachPlayerDiv {
  width: 100%;
  height: 16%;
  align-items: center;
  column-gap: 10rem;
  border-bottom: solid 1px #888889;
}

.playerChampImg {
  height: 80%;
  position: relative;
}

.playerChampImgInner {
  height: 100%;
  width: auto;
  min-width: none;
  min-height: none;
  border: solid;
  border-radius: 50%;
  border-color: #888889;
  border-width: 1rem;
  overflow: hidden;
}

.playerChampImgImg {
  width: auto;
  height: 100%;
  min-width: none;
  min-height: none ;
  transform: scale(1.15);
}

.playerChampLevelDiv {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  justify-content: flex-end;
  align-items: flex-end;
}

.playerChampLevelInner {
  width: 30rem;
  height: 30rem;
  background: #2f323bc0;
  border-radius: 50%;
  border: solid 1px;
  border-color: #888889;
  justify-content: center;
  align-items: center;
}

.playerChampLevelText {
  justify-content: center;
  align-items: center;
  line-height: 0;
  font-size: 17rem;
  color: white;
}

.playerChampLevelUp {
  /* background: orange; */
}

.playerOthers {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.playerKDA,
.playerGold {
  text-align: center;
  font-size: 23rem;
  color: #888889;
  justify-content: center;
}

.playerKDA {
  width: 22%;
}

.playerGold {
  width: 30%;
}

.playerItems {
  width: 43%;
  height: 90%;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}

.normalItems {
  width: 75%;
  height: 95%;
  row-gap: 5rem;
  flex-direction: column;
}

.normalItemsOneLine {
  width: 100%;
  height: 50%;
  column-gap: 5rem;
  justify-content: center;
}

.itemTop {
  align-items: flex-end;
}

.itemBottom {
  align-items: flex-start;
}

.eachItemImg {
  width: 33rem;
  height: 33rem;
  border-radius: 10rem;
}


@media screen and (max-width:1000px) {
  
.playerChampImg {
  width: 20%;
  overflow: hidden;
}

.playerChampImgInner {
  width: 100%;
  border-radius: 0;
  border: none;
}

.playerKDA,
.playerGold {
  font-size: 40rem;
}

.playerKDA {
  width: 10%;
}

.playerGold {
  width: 25%;
}

.playerItems {
  width: 60%;
  height: 90%;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}

.playerChampImgImg {
  width: auto;
  height: 100%;
  min-width: none;
  min-height: none ;
  transform: none;
}

.playerChampLevelDiv {
  justify-content: flex-start;
  align-items: flex-end;
}

.playerChampLevelInner {
  width: 40rem;
  height: 40rem;
}

.normalItems {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.normalItemsOneLine {
  width: 100%;
  height: 80%;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
}

.itemTop {
  align-items: center;
}

.itemBottom {
  align-items: center;
}

.eachItemImg {
  width: 50rem;
  height: 50rem;
  border-radius: 10rem;
}


}